.footer {
    max-width: 880px;
    margin: 0 auto 60px;
}

@media all and (max-width: 915px) {
    .footer {
        max-width: 660px;
    }
}

@media all and (max-width: 610px) {
    .footer {
        max-width: 282px;
    }
}